version: '3.9'

services:
  ia:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ia
    ports:
      - "8080:8080"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_MODEL=${OPENAI_MODEL}
    volumes:
      - ./app/uploads:/app/uploads
      - ./app/chat_log.txt:/app/chat_log.txt
    restart: unless-stopped
